.ods-header {
    height: @header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: @identity-300;
    @media (min-width: @screen-md-min) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.ods-header__brand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: @screen-sm-max) {
        width: 100%;
        height: 100%;
    }
    @media (min-width: @screen-md-min) {
        width: auto;
        padding-left: @spacing-300;
        height: 100%;
    }
}

//- IE 10 / 11
@media all and (-ms-high-contrast: active),
(-ms-high-contrast:none) {
    .ods-header__brand {
        padding-left: 50px;
    }
}

.ods-header__menu-toggle {
    border: none;
    margin: auto 0;
    background-color: white;
    color: @identity-300;
    border-radius: 4px;
    padding: @spacing-50*2;
    font-size: @font-size-200;
    line-height: @line-height-200;

    &:focus {
        outline: none;
    }
    @media (min-width: @screen-md-min) {
        display: none;
    }
}

.ods-header__menu-toggle--active {
    background-color: @identity-200;
    color: white;
}

.ods-header__logo {
    margin: auto 0;
    img {
        height: 26px;
    }
}

//- IE 10 / 11
@media all and (-ms-high-contrast: active),
(-ms-high-contrast:none) {
    .ods-header__logo {
        height: 90px;
        margin-top: 0;
    }
    *::-ms-backdrop,
    .ods-header__logo {
        margin-top: 0;
    }
}

.ods-header__nav {
    background-color: @identity-300;
    z-index: 1000;
    display: flex;
    transition: 0.5s;
    @media (max-width: @screen-sm-max) {
        top: @header-height;
        right: -300px;
        position: fixed;
        width: 300px;
        padding-top: @spacing-300;
        flex-direction: column;
        bottom: 0;
    }
    @media (min-width: @screen-md-min) {
        margin-left: 65px;
        position: static;
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: none;
    }
}

@media all and (-ms-high-contrast: active),
(-ms-high-contrast:none) {
    .ods-header__nav {
        margin-left: 65px;
    }
}

.ods-header__nav--active {
    right: 0;
}

.ods-header__nav-item {
    text-align: center;
    font-size: @font-size-200;
    line-height: @line-height-200;
    letter-spacing: 0.8px;

    @media (max-width: @screen-sm-max) {
        &:first-child {
            margin-top: 0;
        }
        margin: @spacing-200 0 0 0;
    }
    @media (min-width: @screen-md-min) {
        margin: 0 4px 0 0;
        transition: 0.5s;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

@media all and (-ms-high-contrast: active),
(-ms-high-contrast:none) {
    .ods-header__nav-item {
        margin-top: 40px;
    }
}

.ods-header__nav-item-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 0.733rem;
    line-height: 1.5;
    border-radius: 4px;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: white;
        text-decoration: none;
        background-color: @identity-200;
    }
}

.ods-header__nav-item-link--active {
    background-color: @identity-200;
}
