@color-facetCategoryList-border: @color-lightgrey;
@color-facetCategory-hover-text: @color-orange;
@color-facetCategory-text: @color-darkergrey;
@color-facetCategoryCount-text: @color-darkergrey;
@color-facetCategoryList-border: @color-lightgrey;
@color-facetCategoryList-hover-border: @color-orange;

@color-facetExpansionControl-hover-text: @color-orange;
@color-facetExpansionControl-text: @color-ODSDarkBlue;

@color-filterSummaryActiveFilter-background: @color-white;
@color-filterSummaryActiveFilter-border: @color-lightergrey;
@color-filterSummaryActiveFilter-hover-text: @color-orange;
@color-filterSummaryActiveFilter-hover-background: @color-lightestgrey;
@color-filterSummaryActiveFilter-hover-border: @color-orange;
@color-filterSummaryActiveFilterLabel-background: @color-ODSDarkBlue;
@color-filterSummaryActiveFilterLabel-text: @color-white;

@color-clearAllFilters-text: inherit;
@color-clearAllFilters-text-hover: @color-orange;

@color-calendarLoadingBackdrop: @color-transparentWhite;
@color-calendarTooltipBorder: @color-veryTransparentBlack;
@color-calendarTooltipBackground: @color-white;

@color-reuse-background: @color-white;
@color-reuse-border: @color-lightergrey;
@color-reuse-hover-background: @color-lightergrey;

@color-gauge-background: @color-lightergrey;
@color-gauge-filler: @color-orange;
@color-gauge-value: @color-ODSDarkBlue;

@color-slideshow-background: @color-black;
@color-slideshow-border: @color-lightergrey;
@color-slideshowLegend-border: @color-lightergrey;
@color-slideshowLegend-background: @color-lightergrey;
@color-slideshowTooltip-border: @color-lightergrey;
@color-slideshowTooltip-background: @color-white;
@color-slideshowToggle-hover-background: @color-lightgrey;
@color-slideshowToggle-background: @color-lightergrey;
@color-slideshowButton-text: @color-lightestgrey;
@color-slideshowButton-background: @color-darkergrey;
@color-slideshowButton-disabled-text: @color-darkgrey;
@color-slideshowSpinner: @color-lightestgrey;
@color-slideshowCannotDisplay-text: @color-lightgrey;


/* TimeRange Widget
   ========================================================================== */
@timeRange-background: @color-white;
@timeRange-border: @color-lightergrey;
@timeRange-active-background: @color-darkblue;
@timeRange-otherMonth-text: @color-lightgrey;
@timeRange-reset-color: @color-darkgrey;
@timeRange-reset-color-hover: @color-orange;
@timeRange-borderRadius: .2rem;
@timeRange-zIndex: @zindex-popover;
@timeRange-padding: .72rem;
@timeRange-boxShadow: @boxShadow-2;
@timeRange-item-padding: .45rem;
@timeRange-item-borderRadius: .4rem;
@timeRange-item-margin: .72rem;

/* Text Search Widget
   ========================================================================== */
@color-textSearch-submit: @color-darkgrey;
@color-textSearch-submit-hover: @color-darkergrey;
@color-textSearch-clear-hover: @color-orange;


/* MapBuilder
   ========================================================================== */
// Shared (uses same styles as leaflet for coherence)
@mapBuilder-borderRadius: 4px;
@mapBuilder-boxShadow: 0 1px 5px rgba(0,0,0, 0.65);
@mapBuilder-gutterWidth: 10px;
@mapBuilder-hoverBackgroundColor: #f4f4f4;

// MapDisplayControl
@mapDisplayControl-gutterWidth: @mapBuilder-gutterWidth;
@mapDisplayControl-collapsedGutterWidth: 40px;
@mapDisplayControl-collapseTransition: right 0.25s ease-in;
@mapDisplayControl-width: 300px;

// Datasets panel
@mapBuilder-datasetsPanel-boxShadow: 0 4px 5px rgba(0,0,0,.65);

// Map Legend
@mapLegend-width: @mapDisplayControl-width;
@mapLegend-gutterWidth: @mapBuilder-gutterWidth;
@mapLegend-paginationButton-color: @color-darkblue;
@mapLegend-paginationButton-hover-color: @color-orange;

/* Map Tooltip
   ========================================================================== */
@mapTooltip-content-margin: 2rem 0 1rem 0;
@mapTooltip-boxShadow: @boxShadow-3, 0 0 6px rgba(0,0,0,.23);
@mapTooltip-fieldName-color: @color-darkergrey;
@mapTooltip-recordValues-color: @color-darkergrey;
@mapTooltip-recordValuesLink-color: @color-darkblue;
@mapTooltip-content-maxHeight: 235px;
@mapTooltip-warning-color: @color-grey;
@mapTooltip-header-color: @color-ODSDarkBlue;
@mapTooltip-scrollControl-color: @color-darkgrey;
@mapTooltip-scrollControl-borderColor: @color-lightergrey;
@mapTooltip-scrollControl-padding: .33rem;
@mapTooltip-scroll-padding: .66rem;
@mapTooltip-scroll-color: @color-darkblue;
@mapTooltip-scroll-borderRadius: .4rem;
@mapTooltip-scroll-hover-background: @color-lightestgrey;
@mapTooltip-scroll-hover-color: @color-orange;
@mapTooltip-close-color: @color-darkgrey;
@mapTooltip-close-hover-color: @color-darkergrey;

/* Share buttons */
@color-shareButton-background: @color-ODSDarkBlue;
@color-shareButton-text: @color-white;
@color-shareButton-hover-background: @color-orange;

/* Geo navigation */
@color-geoNavigation-color: @color-darkergrey;
@color-geoNavigation-border: @color-lightgrey;
@color-geoNavigation-background: @color-white;
@color-geoNavigation-hover-background: transparent;
@color-geoNavigation-hover-color: @color-orange;
@color-geoNavigation-title-color: @color-light-700;
@color-geoNavigation-searchBox-focus-border: @color-orange;
@color-geoNavigation-choice-border: @color-lightgrey;
@color-geoNavigation-ascending-toggle-enabled: @color-orange;
