// "Heavily inspired" (taken) from https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06

// Z-Index scale. These vars should not be used outside this file.
@zindex-dropdown:                   1000;
@zindex-sticky:                     1020;
@zindex-fixed:                      1030;
@zindex-modal-backdrop:             1040;
@zindex-modal:                      1050;
@zindex-popover:                    1060;
@zindex-tooltip:                    1070;


// Applicative z-indexes variables. If you use a z-index in ODS-Widgets, reference it in here!
