@import "variables/colors";
@import "variables/components-colors";
@import "variables/z-index";
@import "variables/breakpoints";
@import "variables/typography";

@import "utilities";
@import "box-shadow";
@import "font-awesome-rtl";

@import "components/calendar";
@import "components/chart";
@import "components/dataset-card";
@import "components/facets";
@import "components/filter-summary";
@import "components/geotooltip";
@import "components/gist";
@import "components/last-datasets-feed";
@import "components/last-reuses-feed";
@import "components/map-tooltip";
@import "components/map";
@import "components/map-display-control";
@import "components/map-search-box";
@import "components/map-legend";
@import "components/media-gallery";
@import "components/most-popular-datasets";
@import "components/most-used-themes";
@import "components/overlay";
@import "components/pagination";
@import "components/picto";
@import "components/record-image";
@import "components/reuses";
@import "components/result-enumerator";
@import "components/searchbox";
@import "components/social-buttons";
@import "components/spinner";
@import "components/table";
@import "components/tag-cloud";
@import "components/text-search";
@import "components/theme-boxes";
@import "components/theme-picto";
@import "components/timerange";
@import "components/timescale";
@import "components/top-publishers";
@import "components/clear-all-filters";
@import "components/infinite-scroll-results";
@import "components/geo-search";
@import "components/gauge";
@import "components/cross-table";
@import "components/slideshow";
@import "components/dataset-json-schema";
@import "components/dataset-schema";
@import "components/vega-lite";
@import "components/pop-in";
@import "components/date-range-slider";
@import "components/geo-navigation";
@import "components/legend";

// This empty style is only here to override default styles from third-party libraries
// .odswidget.odwidget-my-widget {} has a much higher precedence
.odswidget {}

.odswidget.odswidget-imagified {
    // Result of the imagify filter
    max-width: 100% !important; // Leaflet adds a max-width none as !important
}

.odswidget {
    .no-data {
        text-align: center;
        opacity: 0.5;
        font-size: 1.2em;
    }
}

.ng-leaflet-tooltip-cloak {
    // Style used to cloak the content of directives in leaflet tooltips until it is ready
    display: none;
}
