.ods-header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #0086D6;
}
@media (min-width: 992px) {
  .ods-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
  }
}
.ods-header__brand {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 991px) {
  .ods-header__brand {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .ods-header__brand {
    width: auto;
    padding-left: 39px;
    height: 100%;
  }
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ods-header__brand {
    padding-left: 50px;
  }
}
.ods-header__menu-toggle {
  border: none;
  margin: auto 0;
  background-color: white;
  color: #0086D6;
  border-radius: 4px;
  padding: 12px;
  font-size: 0.833rem;
  line-height: 1.4;
}
.ods-header__menu-toggle:focus {
  outline: none;
}
@media (min-width: 992px) {
  .ods-header__menu-toggle {
    display: none;
  }
}
.ods-header__menu-toggle--active {
  background-color: #142E7B;
  color: white;
}
.ods-header__logo {
  margin: auto 0;
}
.ods-header__logo img {
  height: 26px;
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ods-header__logo {
    height: 90px;
    margin-top: 0;
  }
  *::-ms-backdrop,
  .ods-header__logo {
    margin-top: 0;
  }
}
.ods-header__nav {
  background-color: #0086D6;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .ods-header__nav {
    top: 80px;
    right: -300px;
    position: fixed;
    width: 300px;
    padding-top: 39px;
    -ms-flex-direction: column;
        flex-direction: column;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  .ods-header__nav {
    margin-left: 65px;
    position: static;
    width: auto;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    border: none;
  }
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ods-header__nav {
    margin-left: 65px;
  }
}
.ods-header__nav--active {
  right: 0;
}
.ods-header__nav-item {
  text-align: center;
  font-size: 0.833rem;
  line-height: 1.4;
  letter-spacing: 0.8px;
}
@media (max-width: 991px) {
  .ods-header__nav-item {
    margin: 26px 0 0 0;
  }
  .ods-header__nav-item:first-child {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .ods-header__nav-item {
    margin: 0 4px 0 0;
    transition: 0.5s;
  }
  .ods-header__nav-item:first-child {
    margin-left: 0;
  }
  .ods-header__nav-item:last-child {
    margin-right: 0px;
  }
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ods-header__nav-item {
    margin-top: 40px;
  }
}
.ods-header__nav-item-link {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 8px;
  font-size: 0.733rem;
  line-height: 1.5;
  border-radius: 4px;
  text-decoration: none;
}
.ods-header__nav-item-link:active,
.ods-header__nav-item-link:focus,
.ods-header__nav-item-link:hover {
  color: white;
  text-decoration: none;
  background-color: #142E7B;
}
.ods-header__nav-item-link--active {
  background-color: #142E7B;
}
/* ==========================================================================
   Theme for ods-widgets
   ========================================================================== */
/* Shared elements
   ========================================================================== */
html {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #565656;
  line-height: 1.4;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
  color: #0086D6;
}
ul {
  margin-bottom: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
input,
button,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a:hover {
  text-decoration: underline;
  color: #0086D6;
}
.ods-container {
  margin: 80px 13px 0 13px;
  width: 100%;
}
@media (min-width: 992px) {
  .ods-container {
    margin: 80px 0 0 0;
  }
}
/* Sidebar
   ========================================================================== */
.ods-sidebar {
  border-right: 1px solid #CBD2DB;
  padding: 26px 0;
  position: absolute;
  top: 80px;
  left: -302px;
  z-index: 2;
  width: 300px;
  height: auto;
  background-color: white;
  transition: 0.5s;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 992px) {
  .ods-sidebar {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 80px;
    height: calc(100vh - 80px);
    width: 300px;
    padding: 26px 0;
  }
}
[class*="span"] {
  margin-left: 0;
}
.ods-sidebar--active {
  left: 0;
}
/* Form search
   ========================================================================== */
.form-search .search-query {
  width: 215px;
  height: 32px;
  font-size: 0.833rem;
  line-height: 1.4;
  font-weight: 400;
  border: 1px solid #CBD2DB;
  margin: 0 0 13px 26px;
  padding: 0 13px;
  border-radius: 2px;
}
.form-search .search-query:-ms-input-placeholder {
  color: #898D92;
}
.form-search .search-query::placeholder {
  color: #898D92;
}
.form-search {
  margin-right: 0;
}
.form-search .search-query:focus {
  box-shadow: none;
  border: 1px solid #0086D6;
}
.form-search .well .nav-header {
  font-weight: normal;
}
.form-search .well {
  border: none;
  background-color: white;
  box-shadow: none;
  padding: 0 26px;
}
.form-search > ul.nav > li.section {
  background-color: white;
  margin: 26px 0 26px 0;
  padding: 0;
  min-height: auto;
}
.form-search > ul.nav > li {
  width: auto;
}
.form-search .well .guide {
  font-size: 0.833rem;
  line-height: 1.4;
  color: #898D92;
  float: none;
  padding: 0;
  margin: 0;
}
.form-search .well .nav-header a {
  color: #898D92;
  text-transform: uppercase;
}
.form-search > ul.nav > li.first {
  padding-top: 0;
}
/* Content Navigation
   ========================================================================== */
.content-nav-items {
  padding: 0;
  margin: 13px 0 26px 0;
  height: auto;
  width: 300px;
  list-style-type: none;
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .content-nav-items {
    margin: 6px 0 26px 0;
  }
}
.nav-items {
  padding: 0;
}
.nav-items-link {
  display: block;
  color: #000000;
  font-size: 0.833rem;
  padding: 0 0 13px 26px;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-items-link:hover {
  background-color: white;
  color: #0086D6;
  text-decoration: none;
}
.nav-items-link:focus,
.nav-items-link:active {
  text-decoration: none;
}
.nav-items-link-active {
  background-color: white;
  color: #0086D6 !important;
}
.nav-list {
  padding-left: 26px;
  padding-right: 26px;
}
.nav-list > li {
  padding: 0 13px 13px 13px;
}
.nav-list > li > a {
  font-size: 0.833rem;
  line-height: 1.4;
  letter-spacing: 0.1;
  background-color: white;
  color: #565656;
  margin: 0;
  text-shadow: none;
  padding: 0;
}
.nav-list > li > a:hover {
  background-color: white;
  color: #0086D6 !important;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #0086D6;
  background-color: white;
  text-shadow: none;
}
.nav-list > .active > a > [class^="icon-"] {
  color: #0086D6 !important;
}
.nav > li > a:focus {
  background-color: #FFFFFF;
}
.api-list-item:hover .pull-right {
  color: #0086D6 !important;
}
.api-list-item:hover .pull-right .icon-cog {
  color: #0086D6 !important;
  text-shadow: none;
}
.icon-cog {
  color: #898D92;
  line-height: 30px;
  font-size: 25px;
}
@media (min-width: 992px) {
  .icon-cog {
    line-height: 25px;
    font-size: 16px;
  }
}
/* Content container
   ========================================================================== */
.ods-content {
  padding: 26px 13px 0 13px;
  position: absolute;
  left: 0;
  top: 80px;
  margin: 0;
  width: 100%;
  height: auto !important;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .ods-content {
    position: absolute;
    margin-left: 302px;
    max-width: 45%;
    padding: 26px 0 0 39px;
  }
}
/* Breadcrumbs

   ========================================================================== */
.breadcrumb {
  background-color: white;
  padding: 6px 0;
  margin-bottom: 13px;
}
@media (min-width: 992px) {
  .breadcrumb {
    margin-bottom: 13px;
  }
}
.breadcrumb > li > a,
.breadcrumb > li > span,
.breadcrumb > li > .divider {
  color: black;
  font-weight: normal;
}
.breadcrumb > li > .divider {
  font-size: 16px;
  margin-top: 0;
}
@media (min-width: 992px) {
  .breadcrumb > li > .divider {
    font-size: 18px;
    margin: 3px 5px 0 5px;
  }
}
/* Content Typography
   ========================================================================== */
.content h1 {
  font-size: 2.074rem;
  line-height: 1.4;
  font-weight: 400;
  word-wrap: break-word;
  color: #000000;
  margin: 0 0 26px 0;
}
.content h2 {
  font-size: 1.728rem;
  line-height: 1.3;
  font-weight: 400;
  color: #000000;
  margin: 0 0 26px 0;
}
.content h3 {
  font-size: 1.44rem;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  margin: 0 0 13px 0;
}
.content h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  color: #000000;
  margin: 0 0 13px 0;
}
.content p {
  margin-bottom: 13px;
}
code {
  white-space: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
.hint {
  color: #898D92;
  font-size: 0.833rem;
  line-height: 1.4;
  font-weight: normal;
}
.directive-info {
  margin-bottom: 26px;
}
pre.prettyprint {
  margin-bottom: 26px;
}
.tabbable .nav {
  margin-bottom: 0;
  border-bottom: 0;
}
.description {
  margin-bottom: 26px;
}
/* Tables
   ========================================================================== */
.table {
  margin-bottom: 26px;
}
.table td {
  line-height: 26px;
  max-width: 100px;
  word-wrap: break-word;
}
@media (min-width: 992px) {
  .table td {
    line-height: 13px;
  }
}
.table-bordered {
  border-radius: 0;
}
.variables-matrix td,
.variables-matrix th {
  font-size: 0.833rem;
  line-height: 1.4;
  padding: 13px;
}
.well {
  box-shadow: none;
}
@media (max-width: 991px) {
  iframe {
    width: 100%!important;
  }
  .behaviourSidebarTutorial {
    position: fixed;
    height: 100%;
  }
}
.doc-example-live {
  position: relative;
}
.doc-example-live button {
  height: 30px;
}
.doc-example-live button.odswidget-table__sort-icon {
  height: 9px;
  font-size: 8px;
}
.in-html-template-binding,
.in-javascript {
  margin-bottom: 26px;
}
/* Deprecated warning
   ========================================================================== */
.deprecated legend {
  position: relative;
  padding: 26px;
  border: none;
  margin-bottom: 26px;
  color: #565656;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: rgba(239, 183, 27, 0.1);
  border: 1px solid rgba(239, 183, 27, 0.4);
  box-sizing: border-box;
}
.deprecated legend:before {
  content: "\26A0  warning";
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 6px;
  border-radius: 3px 0;
  font-size: 0.733rem;
  background-color: #EFB71B;
  text-transform: uppercase;
  color: #FFFFFF;
  vertical-align: middle;
}
