<div class="odswidget odswidget-reuses">
    <div infinite-scroll="loadMore()" infinite-scroll-distance="1">
        <div class="reuse-card" ng-repeat="r in reuses" full-click>
            <h2>{{ r.title }} &mdash; <a href="/explore/dataset/{{ r.dataset.id }}/?tab=metas">{{ r.dataset.title }}</a></h2>
            <div class="infos">
                <div class="thumbnail" ng-class="{'no-preview': !r.thumbnail}">
                    <a ng-show="r.thumbnail" href="{{ r.url }}" main-click title="{{ r.title }}" target="_blank"><img ng-src="{{ r.thumbnail }}" /></a>
                    <i ng-hide="r.thumbnail" class="icon icon-ban-circle"></i>
                </div>
                <div class="description">{{ r.description }}</div>
            </div>
            <div class="author-date">
                <strong ng-if="r.user.first_name || r.user.last_name">{{ r.user.first_name }} {{ r.user.last_name }}</strong>
                <strong ng-if="!r.user.first_name && !r.user.last_name">{{ r.user.username }}</strong>
                <i class="icon-calendar"></i> {{ r.created_at|moment:'LLL' }}
            </div>
        </div>
   </div>
</div>