div.odswidget-adv-table__container {
    display: flex;
    flex-flow: column;
    padding: 5px;
    border-radius: 4px;
    background-color: @color-adv-table-background;
    box-shadow: @color-adv-table-boxShadow;

    table {
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;

        &.odswidget-adv-table__table__sticky-header ,
        &.odswidget-adv-table__table__sticky-first-column,
        &.odswidget-adv-table__table__sticky-first-header-column {
            position: absolute;
            width: auto;

            &.horizontally-scrolled {
                box-shadow: @color-adv-table-sticky-boxShadow;
                transition: box-shadow 0.3s ease-in-out;
            }
        }

        &.odswidget-adv-table__table__sticky-header {
            width: 100%;

            thead {
                display: flex;
                flex: 1 1 auto;
                overflow-y: visible;

                tr {
                    flex-shrink: 0;
                }
            }
        }

        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            td, th {
                padding: 10px;
                border-bottom: 1px solid @color-adv-table-border;
                color: @color-adv-table-text;
                vertical-align: top;
                text-align: left;
                white-space: nowrap;
            }

            th {
                padding: 7px 10px;
                background-color: @color-adv-table-header-background;
                color: @color-adv-table-header-text;
                font-weight: normal;

                &:first-child {
                    border-top-left-radius: 4px;
                }

                &:last-child {
                    border-top-right-radius: 4px;
                }

                i.fa {
                    padding-left: 5px;
                    font-size: 0.8rem;
                }
            }

            td {
                background-color: @color-adv-table-background;
            }

        }
    }
}

.odswidget-adv-table__totals {
    td {
        border-top: 2px solid @color-adv-table-border;
        font-weight: 600;
    }
}

span.odswidget-adv-table__total__legend {
    color: @color-adv-table-text;
    font-size: 0.8rem;
    vertical-align: text-bottom;
    text-transform: uppercase;
}

.odswidget-adv-table__wrapper {
    position: relative;
    overflow: auto;
}
