.ods-chart {
    position: relative;
    height: 100%;
    min-height: 200px;

    .chartplaceholder {
        width: 100%;
        height: 100%;
    }

    .chart-timezone-caption {
        color: rgba(0, 0, 0, 0.5);
        font-size: 0.85em;
        padding: 0;
        list-style: none;
    }
}

.ods-chart__loading {
    width: 100%;
    position: absolute;
    z-index: 100;
    text-align: center;
    font-size: 50px;
    top: 45%;
    margin-top: -25px;
}

.highcharts-reset-zoom {
    direction: ltr;
}

.highcharts-tooltip-container {
    display: block;
    background-color: #fff;
    padding:9px;
    margin-left: 1px;
    margin-top: 1px;
}

.ods-highcharts__tooltip {
    display: flex;
}
