.odswidget-dataset-schema {
    margin: 1rem 0 2rem 0;
}

.odswidget-dataset-schema__field {
    margin-bottom: 1em;
}
.odswidget-dataset-schema__field:last-child {
    margin-bottom: 0;
}

.odswidget-dataset-schema__field-label {
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.odswidget-dataset-schema__field-details {
    @media (min-width: @screen-md-min) {
        display: flex;
    }
}

.odswidget-dataset-schema__field-description-wrapper {
    @media (min-width: @screen-md-min) {
        margin: 1em 0;
        width: 30%;
    }
}

.odswidget-dataset-schema__field-description {
    margin: 0;
    font-family: inherit;
}

.odswidget-dataset-schema__field-description--empty {
    color: rgba(1, 1, 1, 0.5);
    font-style: italic;
}

.odswidget-dataset-schema__field-properties {
    border-collapse: collapse;
    margin: 1em 0;

    @media (max-width: @screen-sm-max) {
        width: 100%;
    }

    @media (min-width: @screen-md-min) {
        margin-left: 1em;
        width: ~"calc(70% - 1em)";
    }
}

.odswidget-dataset-schema__field-sample-value {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    background: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0.6em 1em;
    border-radius: 4px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: auto;
    direction: ltr; // HTML Code and JSON is displayed in LTR to prevent rendering issues when in RTL layout
    @media screen and (max-width: @screen-xs-max) {
        overflow-wrap: break-word;
        word-break: break-all;
    }
}

.odswidget-dataset-schema__field-name-value {
    margin: 0;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    background-color: transparent;
}

.odswidget-dataset-schema__field-type-value {
    margin: 0;
    display: inline-block;
    padding: 0;
    background-color: transparent;
}


.odswidget-dataset-schema__field-properties-key {
    vertical-align: top;
    padding: 0 0.5rem 0.2rem 0.5rem;
    width: 130px;
    .rtl-prop(text-align, right, left);
}

.odswidget-dataset-schema__field-properties-value {
    vertical-align: top;
    padding: 0 0.5em 0.2em 0.5em;
}
