.odswidget-filter-summary {
    padding: 0;
    margin: 0;
    list-style: none;
}

.odswidget-filter-summary__active-filter {

}

.odswidget-filter-summary__active-filter-link {
    .rtl-prop(border-left, border-right, 3px solid @color-filterSummaryActiveFilter-border, 0);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    .rtl-prop(padding-left, padding-right, 0.67rem, 0);
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: inherit;
}

.odswidget-filter-summary__active-filter-link:hover {
    color: @color-filterSummaryActiveFilter-hover-text;
    text-decoration: none;
    .rtl-prop(border-left-color, border-right-color, @color-filterSummaryActiveFilter-hover-border, transparent);
}

.odswidget-filter-summary__active-filter-label {
    background-color: @color-filterSummaryActiveFilterLabel-background;
    color: @color-filterSummaryActiveFilterLabel-text;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.1rem 0.33rem;
    display: inline-block;
}

.odswidget-filter-summary__active-filter-value {
    .rtl-prop(margin-left, margin-right, 0.33rem,  0);
}
