.ods-gist .gist-clipboard {
    border-bottom: 1px solid #ddd;
    padding: 0px !important;
}
.ods-gist .gist-clipboard > div {
    width: fit-content;
    padding: 10px;
}

.ods-gist textarea {
    position: absolute;
    left: -9999px;
}

.gist.blob-code-inner.ods-gist-error {
    color: red;
    margin: 2px 4px;
}
