.odswidget-infinite-scroll-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}
.odswidget-infinite-scroll-results__message-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.odswidget-infinite-scroll-results__spinner {
    font-size: 3rem;
}
.odswidget-infinite-scroll-results__no-more-results-message {

}
.odswidget-infinite-scroll-results__no-results-message {

}
