.odswidget-last-datasets-feed {}

.odswidget-last-reuses-feed__reuses {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.odswidget-last-reuses-feed__reuse {
    clear: both;
    margin-bottom: 10px;
}

.odswidget-last-reuses-feed__reuse-details {
    margin-left: 80px;
}

.odswidget-last-reuses-feed__reuse-details-title {
    font-size: 1.2rem;
}

.odswidget-last-reuses-feed__reuse-details-dataset {
    font-size: 1.1rem;
}

.odswidget-last-reuses-feed__reuse-details-modified {
    border-bottom: 1px dotted #333;
    cursor: help;
    display: inline;
}

.odswidget-last-reuses-feed__reuse:last-child {
    margin-bottom: 0;
}

.odswidget-last-reuses-feed__reuse-thumbnail {
    float: left;
    height: 64px;
    width: 70px;
    text-align: center;
}

.odswidget-last-reuses-feed__reuse-thumbnail-image {
    max-width: 64px;
    max-height: 64px;
    vertical-align: middle;
}