.odswidget-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    width: fit-content;
    z-index: 10;
}

.odswidget-legend__title  {
    font-weight: 500;
    font-size: 1.2rem;
}
.odswidget-legend__subtitle {
    font-weight: 300;
    font-size: 0.9rem;
}

.odswidget-legend__indexes {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.odswidget-legend__index {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    font-size: 0.8rem;
}

.odswidget-legend__index-circle {
    height: 20px;
    width: 20px;
    margin: 1.5px 4px;
    border-radius: 100%;
    border: 1px solid white;
}

.odswidget-legend__index-label {

}

.odswidget-legend__steps_style {
    padding: 1em .5em;
    margin: 0;
}


.odswidget-legend__inline_style {
    display: flex;
    margin: 1em 0.5em;
}

.odswidget-legend__inline_style__column {
    display: block;
    height: 100px;
    width: 35px;
    border: 1px solid #565656;
}

.odswidget-legend__inline_style__column__single-value {
    height: 20px;
}

.odswidget-legend__inline_style__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5em;
}

.odswidget-legend__inline_style__labels > * {
    line-height: 20px;
}

.odswidget-legend__inline_style__novalue__color {
    display: block;
    width: 35px;
    height: 20px;
    border: 1px solid #565656;
}

.odswidget-legend__inline_style__novalue {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.odswidget-legend__inline_style__novalue__label {
    margin-left: 6px;
}
