.odswidget-map-legend {
    width: @mapLegend-width;
    //height: 100px;
    position: absolute;
    bottom: 20px; // To make room for the leaflet attributions
    right: @mapLegend-gutterWidth;
    background-color: white;
    //transition: width .25s ease-in, height .25s ease-in;
    padding: 5px 5px 25px 5px;
    border-radius: @mapBuilder-borderRadius;
    box-shadow: @mapBuilder-boxShadow;
}

.odswidget-map-legend--extended {
    width: 400px;
    //height: 300px;
    overflow: hidden; /* Avoid a scrollbar during the transition effct */
}

.odswidget-map-legend__categories-container--extended {
    column-count: 2;
}

.odswidget-map-legend__categories--condensed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.odswidget-map-legend__categories--condensed__item {
    flex-grow: 0;
    flex-shrink: 0;
    width: 80px;
    padding: 2px;
    text-align: center;
}

.odswidget-map-legend__categories__color-block,
.odswidget-map-legend__choropleth__color-block{
    width: 16px;
    height: 16px;
    border: solid 1px black;
    display: inline-block;
}

.odswidget-map-legend__categories--extended {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.odswidget-map-legend__categories__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 190px;
    padding: 2px;
    text-align: center;
    display: flex;
    font-size: 0.9rem;
}

.odswidget-map-legend__categories__item-color {
    flex-grow: 0;
    flex-shrink: 0;
    .rtl-prop(margin-right, margin-left, 5px, 0);
}
.odswidget-map-legend__categories__item-value {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .rtl-prop(text-align, left, right);
}
.odswidget-map-legend__categories__item-value--remaining {
    font-style: italic;
}

.odswidget-map-legend__choropleth__item-value--remaining {
    font-style: italic;
    font-size: .9rem;
    .rtl-prop(text-align, right, left);
    width: 100%;
}

.odswidget-map-legend__categories__item-value--others {
    font-style: italic;
}

.odswidget-map-legend__choropleth-container {

}
.odswidget-map-legend__choropleth__item {
    display: flex;
    padding: 0 2px;
}
.odswidget-map-legend__choropleth__item-color {
    flex-grow: 0;
    flex-shrink: 0;
    .rtl-prop(margin-right, margin-left, 5px, 0);
}
.odswidget-map-legend__choropleth__item-range {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 0.9rem;
    display: flex;
}
.odswidget-map-legend__choropleth__item-range--center {
    justify-content: center;
}
.odswidget-map-legend__choropleth__item-range__bound {
    flex-grow: 1;
    flex-shrink: 1;
    .rtl-prop(text-align, right, left);
    width: 50%;
}
.odswidget-map-legend__choropleth__item-range__bound-arrow {
    .rtl-prop(margin-left, margin-right, 10px, 0);
}

.odswidget-map-legend__default-container {
    flex-grow: 1;
    flex-shrink: 0;
    width: 190px;
    padding: 2px;
    text-align: center;
    display: flex;
    font-size: 0.9rem;
}

.odswidget-map-legend__simple-container {
    text-align: center;
}


.odswidget-map-legend__default__color-block {
    width: 16px;
    height: 16px;
    border: solid 1px black;
    display: inline-block;
    .rtl-prop(margin-right, margin-left, 5px, 0);
}

.odswidget-map-legend__simple__color-block {
    width: 60%;
    height: 16px;
    border: solid 1px black;
    display: inline-block;
    margin-top: 10px;
}

.odswidget-map-legend__simple__color-block:last-child {
    margin-bottom: 10px;
}

.odswidget-map-legend__simple__color-block-subtext {
    display: inline-flex;
    width: 60%;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.odswidget-map-legend__simple__color-block-subtext-left {
    width: 50%;
    .rtl-prop(text-align, left, right);
}

.odswidget-map-legend__simple__color-block-subtext-right {
    width: 50%;
    .rtl-prop(text-align, right, left);
}
.odswidget-map-legend__title {
    position: relative;
    font-weight: 600;
    text-align: center;
    display: inline;
}

.odswidget-map-legend__picto {
    display: inline-block;
    vertical-align: sub;
}

.odswidget-map-legend__label {
    font-size: 0.9rem;
    text-align: center;
}
.odswidget-map-legend__header {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 20px;
}

.odswidget-map-legend--not-toggleable[ng-click] {
    cursor: auto;
}

.odswidget-map-legend__title-toggle {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    color: @color-grey;
    border-radius: .4rem;
}

.odswidget-map-legend__title-toggle:hover {
    color: @color-darkergrey;
}

.odswidget-map-legend__pagination {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.odswidget-map-legend__pagination-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: @mapLegend-paginationButton-color;
    border-radius: @mapBuilder-borderRadius;
}

.odswidget-map-legend__pagination-button:hover {
    color: @mapLegend-paginationButton-hover-color;
    background-color: @color-lightestgrey;
}

.odswidget-map-legend__pagination-button.ng-hide {
    /* Use visibility instead of display none, so that the block doesn't move when the button is hidden */
    display: inline-block !important;
    visibility: hidden;
}

.odswidget-map-legend__no-legend-placeholder {
    text-align: center;
    font-style: italic;
}
