
@mapDisplayControl-gutterWidth: 10px;
.odswidget-map-display-control {
    width: 300px;
    position: absolute;
    top: @mapDisplayControl-gutterWidth;
    right: @mapDisplayControl-gutterWidth;
    background-color: white;
}

.odswidget-map-display-control__groups {
    margin: 0;
    padding: @mapDisplayControl-gutterWidth;
    list-style: none;
}
.odswidget-map-display-control__group {
    //background-color: lightgreen;
    margin-left: 0;
    transition: margin-left 0.2s, border-left-width 0.2s, opacity 0.2s;
    border: solid 1px #E5E5E5;
    border-left-width: 5px;
    padding: @mapDisplayControl-gutterWidth / 2;
}
.odswidget-map-display-control__group:not(:last-child) {
    margin-bottom: @mapDisplayControl-gutterWidth;
}
.odswidget-map-display-control__group--disabled {
    //background-color: red;
    margin-left: 20px;
    border-left-width: 1px;
    opacity: 0.5;
}

.odswidget-map-display-control__group-title {
    font-size: 1.1rem;
    color: #2C3F56;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

.odswidget-map-display-control__group-description {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}