.odswidget-map {
    position: relative;
    min-height: 400px;
    overflow: hidden;
}

.odswidget-map--fullscreen {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 9999999;
}

.odswidget-map__map {
    height: 100%;
    min-height: 400px;
}

.odswidget-map--fullscreen .odswidget-map__map {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.odswidget-map__loading {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: 30px; // Room for the attribution line
    background: rgba(255,255,255,0.9);
    padding: 5px 12px;
    color: #333;
    font-size: 30px;
    pointer-events: none;
}

// Added .ods-message-box because can't override if not
.odswidget-map__limited-data-warning.ods-message-box {
    font-size: @typography-fontSize-caption;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
}

.odswidget-picto.odswidget-map-picto svg{
    width: 18px ;
    height: 18px ;
}

.odswidget-map__legend {
    border-radius: 2px;
    text-align: left;
    line-height: 18px;
    color: #555;
    background-color: white;
    padding: 0.4em;
    min-width: 200px;
    // border: 1px solid red;
    box-sizing: border-box;
}

.odswidget-map__legend-title {
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}

.odswidget-map__legend-color {
    height: 18px;
    width: 10%;
    padding: 0;
    display: inline-block;
    opacity: 0.8;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 0;
}

.odswidget-map__legend-color:first-child {
    margin-left: 5%;
    border-left-width: 1px;
}

.odswidget-map__legend-color:last-child {
    margin-right: 5%;
    border-right-width: 1px;
}

.odswidget-map__legend-counts {
    text-align: center;
}
.odswidget-map__legend-value {
    padding: 1px;
    line-height: 0.7rem;
    font-size: 0.7rem;
}
.odswidget-map__legend-value:first-child {
    float: left;
}
.odswidget-map__legend-value:last-child {
    float: right;
}
.odswidget-map__legend-value:first-child:last-child {
    float: none;
}

// Leaflet controls

.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
    z-index: inherit;
}
.leaflet-control-geocoder {
    // Fixing a few style side effect from outside, and improving a bit

    input[type="text"] {
        padding: 0!important;
        box-shadow: none !important;
        line-height: 36px !important;
        font-size: 18px;
        width: 0 !important;
        border: none;
    }

    .leaflet-control-geocoder-icon {
        height: 36px;
        width: 36px;
    }

    &.leaflet-control-geocoder-expanded {
        input {
            padding-left: 5px !important;
            width: 226px !important;
        }
    }
}
.leaflet-geocoder-highlight {
    opacity: 1;
    transition: opacity 2s ease-out;
}

.geocoder-highlight-on .leaflet-geocoder-highlight {
    opacity: 0;
}

.leaflet-control-filterview {
    // /!\ ONLY USED IN ODS-MAP-LEGACY
    margin-left: 13px;
    margin-top: 12px;

    a {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 4px 4px 4px 4px;
        &::after {
            font-family: 'FontAwesome';
            font-size: 16px;
            content: "\f0B0";
            position: absolute;
            left: 8px;
            top: 3px;
        };
    }
    &.active a {
        background-color: black;
        &::after {
            color: white;
        }
    }
}

.leaflet-control-attribution img {
    vertical-align: bottom;
}

.odswidget-map__map--with-searchbox .leaflet-top.leaflet-left {
    top: 45px;
}

.odswidget-map__map--with-display-control .leaflet-top.leaflet-right {
    transition: @mapDisplayControl-collapseTransition;
    right: 310px; // 300px (width of map display control) + 10px (leaflet control gutter width)
}
.odswidget-map__map--with-display-control .leaflet-top.leaflet-right.collapsed {
    @media (max-width: @screen-xs-max) {
        right: 40px;
    }
}

/*
Leaflet Draw behaves very weirdly in a RTL page, and we have to give it a LTR container, then bring RTL back to other
elements.
 */
html[dir=rtl] .odswidget-map .leaflet-popup-pane {
    direction: ltr;
}
html[dir=rtl] .odswidget-map .leaflet-popup-pane :not(.leaflet-draw-tooltip) {
    direction: rtl;
}


.odswidget-map .map-timezone-caption {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85em;
    padding-top: 0.5em;
}
