.odswidget-most-used-themes {}

.odswidget-most-used-themes__themes {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.odswidget-most-used-themes__theme {
    clear: both;
    margin-bottom: 10px;
}

.odswidget-most-used-themes__theme:last-child {
    margin-bottom: 0;
}

.odswidget-most-used-themes__theme-details-title,
.odswidget-most-used-themes__theme-details-name {
    font-size: 1.2em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}