.odswidget-picto svg,
.odswidget-picto img {
    width: 100%;
    height: 100%;
}

.odswidget-picto:not(.ods-svginliner__svg-container--colorless) svg {
    polygon, rect, circle, path {
        fill: inherit;
    }
}