.odswidget-reuses {
    height: 400px;
    overflow-y: auto;
}

.ods-dataset-reuses__toggle-header {
    margin-bottom: 0;
}
.ods-dataset-reuses__new-reuse {
    margin-bottom: 0;
}

.odswidget-reuses__reuse {
    background-color: @color-reuse-background;
    border: solid 1px @color-reuse-border;
    margin-bottom: 20px;
    padding: 1em;
    text-align: center;
}
.odswidget-reuses__reuse:hover {
    cursor: pointer;
    background-color: @color-reuse-hover-background;
}
.odswidget-reuses__reuse-author {
    clear: both;
    border-top: 1px solid #dadada;
    padding-top: 5px;
}
.odswidget-reuses__creation-icon {
    .rtl-prop(padding-left, padding-right, 20px, 0);
}
.odswidget-reuses__reuse:last-child {
    margin-bottom: 0;
}

.odswidget-reuses__reuse-title {
    border-bottom: 1px solid #dadada;
    margin-bottom: 0.5em;
}

.odswidget-reuses__reuse-dataset-link {
    display: block;
    font-size: 0.7em;
}
.odswidget-reuses__reuse-thumbnail {
    .rtl-prop(float, left, right);
    .rtl-prop(margin, 0 10px 10px 0, 0 0 10px 10px);
    width: 100px;
    height: 100px;
    position: relative;
}

.odswidget-reuses__reuse-thumbnail-image {
    border-radius: 0.25em;
    max-width: 100px;
    max-height: 100px;
}

.odswidget-reuses__reuse-thumbnail--no-preview {
    position: relative;
    color: rgba(150,150,150,0.4);
    font-size: 6em;
    font-weight: bold;
}

.odswidget-reuses__reuse-thumbnail-image--no-thumbnail {
    position: absolute;
    .rtl-prop(left, right, 10px, auto);
    top: 10px;
    color: rgba(150,150,150,.4);
    font-size: 6em;
}

.odswidget-reuses__reuse-description {
    text-align: justify;
}