.odswidget-searchbox {
    margin-bottom: 20px;
    text-align: center;
}

.odswidget-searchbox__box {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
    min-width: 150px;
    padding: 0.5em;
}