.odswidget-social-buttons__button {
    font-size: 1.2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: @color-shareButton-background;
    color: @color-shareButton-text;
    border: none;
    padding: 0;
}
.odswidget-social-buttons__button:hover,
.odswidget-social-buttons__button:focus {
    text-decoration: none;
    background-color: @color-shareButton-hover-background;
}
