.odswidget-spinner__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @color-transparentWhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odswidget-spinner {}
.odswidget-spinner--large {
    font-size: 1.33em;
}
.odswidget-spinner.odswidget-spinner--gif {
    height: 1em;
}
.odswidget-spinner.odswidget-spinner--svg {
    fill: currentColor;
    height: 0.8em;
}

// frame stop
@frame_1: 0/16*100%;
@frame_2: 1/16*100%;
@frame_3: 2/16*100%;
@frame_4: 3/16*100%;
@frame_5: 4/16*100%;
@frame_6: 5/16*100%;
@frame_7: 6/16*100%;
@frame_8: 7/16*100%;
@frame_9: 8/16*100%;
@frame_10: 9/16*100%;
@frame_11: 10/16*100%;
@frame_12: 11/16*100%;
@frame_13: 12/16*100%;
@frame_14: 13/16*100%;
@frame_15: 14/16*100%;
@frame_16: 15/16*100%;

@keyframes odswidget-spinner__diagonal-11-33-animation {
    @{frame_1}  { opacity: 1 }
    @{frame_6}  { opacity: 1 }
    @{frame_7}  { opacity: 0.5 }
    @{frame_8}  { opacity: 0.5 }
    @{frame_9}  { opacity: 0 }
    @{frame_11} { opacity: 0 }
    @{frame_12} { opacity: 1 }
    100%        { opacity: 1 }
}
@keyframes odswidget-spinner__diagonal-12-23-animation {
    @{frame_1}  { opacity: 1 }
    @{frame_7}  { opacity: 1 }
    @{frame_8}  { opacity: 0.5 }
    @{frame_9}  { opacity: 0.5 }
    @{frame_10} { opacity: 0 }
    @{frame_12} { opacity: 0 }
    @{frame_13} { opacity: 1 }
    100%        { opacity: 1 }
}
@keyframes odswidget-spinner__diagonal-21-32-animation {
    @{frame_1}  { opacity: 1 }
    @{frame_2}  { opacity: 0.5 }
    @{frame_3}  { opacity: 1 }
    @{frame_4}  { opacity: 0.5 }
    @{frame_5}  { opacity: 1 }
    @{frame_6}  { opacity: 0.5 }
    @{frame_7}  { opacity: 0.5 }
    @{frame_8}  { opacity: 0 }
    @{frame_10}  { opacity: 0 }
    @{frame_11}  { opacity: 1 }
    100%        { opacity: 1 }
}
@keyframes odswidget-spinner__diagonal-31-animation {
    @{frame_1}  { opacity: 1 }
    @{frame_2}  { opacity: 0.5 }
    @{frame_3}  { opacity: 1 }
    @{frame_4}  { opacity: 0.5 }
    @{frame_5}  { opacity: 1 }
    @{frame_6}  { opacity: 0.5 }
    @{frame_7}  { opacity: 0 }
    @{frame_9}  { opacity: 0 }
    @{frame_10} { opacity: 1 }
    @{frame_14} { opacity: 1 }
    @{frame_15} { opacity: 0.5 }
    @{frame_16} { opacity: 0.5 }
    100%        { opacity: 1 }
}
@keyframes odswidget-spinner__diagonal-13-animation {
    @{frame_1}  { opacity: 1 }
    @{frame_8}  { opacity: 1 }
    @{frame_9}  { opacity: 0.5 }
    @{frame_10} { opacity: 0.5 }
    @{frame_11} { opacity: 0 }
    @{frame_13} { opacity: 0 }
    @{frame_14} { opacity: 1 }
    100%        { opacity: 1 }
}


.odswidget-spinner__cell-11,
.odswidget-spinner__cell-22,
.odswidget-spinner__cell-33 {
    animation: 2s odswidget-spinner__diagonal-11-33-animation infinite;
}
.odswidget-spinner__cell-12,
.odswidget-spinner__cell-23 {
    animation: 2s odswidget-spinner__diagonal-12-23-animation infinite;
}
.odswidget-spinner__cell-21,
.odswidget-spinner__cell-32 {
    animation: 2s odswidget-spinner__diagonal-21-32-animation infinite;
}
.odswidget-spinner__cell-13 {
    animation: 2s odswidget-spinner__diagonal-13-animation infinite;
}
.odswidget-spinner__cell-31 {
    animation: 2s odswidget-spinner__diagonal-31-animation infinite;
}
