.odswidget-theme-boxes {
    text-align: center;
}
.odswidget-theme-boxes__picto {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    opacity: 0.5;
}

.odswidget-theme-boxes__picto:hover:not(.theme-default) {
    opacity: 1;
}
.odswidget-theme-boxes__picto.theme-default {
    opacity: 0.1;
}

.odswidget-theme-boxes__box {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}