.odswidget-timescale {
    text-align: center;
}

.odswidget-timescale__scale-list {
    list-style-type: none;
    margin: 0;
}

.odswidget-timescale__scale {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
    opacity: 0.8;
}

.odswidget-timescale__scale--active {
    opacity: 1;
    border-bottom: 0.2em solid;
}

.odswidget-timescale__scale-link:hover {
    text-decoration: none;
}