.odswidget-timerange {
    text-align: center;
}

.odswidget-timerange__from,
.odswidget-timerange__to {
    display: inline-block;
}

.odswidgets-rd-container {
    // Rome style for ODS Widgets
    z-index: 1000;
    table {
        border-collapse: separate;
        border-spacing: 2px;
    }
}
