.odswidget-tag-cloud >ul >li {
    display: inline-block;
    margin-right: 10px;
}

.odswidget-timescale {
    text-align: center;
    ul {
        list-style-type: none;
        margin: 0;
        >li {
            display: inline-block;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 1.2em;
            opacity: 0.8;
            &.active {
                opacity: 1;
                border-bottom: 0.2em solid;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}

.odswidget-theme-boxes {
    text-align: center;
    margin-bottom: -20px !important;
    .item {
        width: 70px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
    }
    .odswidget-theme-picto {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        opacity: 0.5;
        &:hover:not(.theme-default) {
            opacity: 1;
        }
        &.theme-default {
            opacity: 0.1;
        }
    }
}

.odswidget-searchbox {
    margin-bottom: 20px;
    text-align: center;
    .searchbox {
        font-size: 1.5em;
        line-height: 2em;
        height: 2em;
        width: 70%;
        min-width: 150px;
    }
}

.odswidget-last-datasets-feed, .odswidget-most-popular-datasets, .odswidget-last-reuses-feed {
    .no-data {
        text-align: center;
        opacity: 0.5;
        font-size: 1.2em;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            clear: both;
            margin-bottom: 10px;

            .modified>span {
                border-bottom: 1px dotted #333;
                cursor: help;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .odswidget-theme-picto {
                width: 32px;
                height: 32px;
                float: left;
                margin-top: 5px;
                opacity: 0.5;
                &.theme-default { display: none; }
            }

            .dataset-details {
                margin-left: 40px;
                .title {
                    font-size: 1.2em;
                }
            }
            .reuse-thumbnail {
                float: left;
                height: 64px;
                width: 70px;
                text-align: center;
                img {
                    max-width: 64px;
                    max-height: 64px;
                    vertical-align: middle;
                }
            }
            .reuse-details {
                margin-left: 80px;
                .title {
                    font-size: 1.2em;
                }
                .dataset {
                    font-size: 1.1em;
                }
            }
        }
    }
}

.odswidget-map {
    position: relative;
    height: 400px;
    >.map {
        height: 100%;
        min-height: 200px;
    }
    >.overlay-footer {
        vertical-align: bottom;
        position:absolute;
        padding: 6px 8px;
        color: #223;
        background-color:rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        bottom: 30px;
        right: 20px;
        //width: 90%;
        //margin: 0px auto;
        &::before {

        }
    }

    .dl-marker {
        max-height: 400px;
        overflow: auto;
		margin: 0;
        dt {
		}
        dd {
		}
    }

    .leaflet-container .leaflet-control-filterview {
        margin-left: 13px;
        margin-top: 12px;

        a {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 4px 4px 4px 4px;
            &::after {
                font-family: 'FontAwesome';
                font-size: 16px;
                content: "\f002";
                position: absolute;
                left: 8px;
                top: 3px;
            };
        }
        &.active a {
            background-color: black;
            &::after {
                color: white;
            }
        }
    }
}

.odswidget-table {
    .embeded & {
        margin: 0;
        height: 100%;
    }
    overflow: hidden;
    height: 400px;
    table {
        font-size: 0.85em;
        width: 100%;
        max-width: 100%;
        th, td {
            > div {
                max-width: 200px;
                padding: 2px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: content-box; // Only to prevent bootstrap from setting border-box to every element
            }
        }
        th {
            background-color: #e8e8e8;
            padding: 3px 1px;
            cursor: pointer;
            &:hover {
                .sort-icons i {
                    opacity: 0.8;
                }
            }
            &.active {
                i {
                    display: inline;
                }
                .sort-icons {
                    display: none;
                }
            }
            i {
                display: none;
            }
            .sort-icons {
                position: relative;
                display: inline;
                margin-left: 2px;
                i {
                    position: absolute;
                    display: inline;
                    opacity: 0.5;
                    &.icon-caret-up {
                        top: -0.1em;
                    }
                    &.icon-caret-down {
                        bottom: -0.1em;
                    }
                }
            }
        }
        th:first-child {
            text-align: right;
            i {
                opacity: 1;
            }
        }
        tr {
            background-color: #fff;
            &:nth-child(odd) {
                background-color: #f4f4f4;
            }
            &:hover {
                background-color: fade(#f4f4f4, 50%);
            }
        }
    }
    .records-header table thead {
        display: none;
    }
    .records-body {
        height: 100%;
        overflow: auto;
        table {
            width: 100%;
            > tbody {
                tr {
                    td {
                        padding: 1px;
                        &:first-child {
                            color: rgba(0,0,0,0.5);
                            font-family: monospace;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.odswidget-highcharts,
.odswidget-multihighcharts {
    height: 400px;

    .ods-chart, .chartplaceholder {
        height: 100%;
    }
}

.odswidget-theme-picto {
    svg, img {
        width: 100%;
        height: 100%;
    }

    &:not(.colorless) svg {
        polygon, rect, circle, path {
            fill: inherit;
        }
    }
}

.odswidget-table,
.odswidget-map {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.8);
        color: #333;
        pointer-events: none;
        span {
            position: absolute;
            top: 50%;
            height: 2em;
            line-height: 2;
            margin-top: -1em;
            left: 0; right: 0;
            text-align: center;
        }
        >.spinner {
            position: absolute;
            top: 50%;
            left: 0; right: 0;
        }
    }
}

.odswidget-geo-scroller {
    min-height: 30px;
    position: relative;

    .spinnerWrapper {
        // Centered spinner, waiting for the results to be displayed
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .limited-results {
        text-align: center;
        font-size: 1.1em;
    }

    dl {
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
    }

    .imagify {
        max-width: 100% !important; // Leaflet adds a max-width none as !important
    }

    h2 {
        text-align: center;
        border: none !important;
        font-size: 18px;
        margin-bottom: 0px !important;

        &.scroller-control {
            font-size: 16px;
            cursor: pointer;
            i {
                padding: 5px 10px;
                &:hover {
                    color: Black;
                    background-color: #EEEEEE;
                }
            }
        }
    }
}

#odswidget-geotooltip {
    border: solid 1px Black;
}